.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
#card{
  width: 350px;
}
.App-link {
  color: rgb(112, 76, 182);
}
.advertensia{
  font-size: 17px;
}

.imagen{
  display:none!important;
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.error{
  display: none!important;
}
#iframe{
  width:  1400px!important;
  height: 1000px!important;
}
@media (max-width:1280px){
  #iframe{
    width: 1280px!important;
    height: 800px!important;
  }
}
@media (max-width:1024px){
  #iframe{
    width: 1024px!important;
    height: 600px!important;
  }
}
@media (max-width:912px){
  #iframe{
    width: 912px!important;
    height: 1368px!important;
  }
}
@media (max-width:820px){
  #iframe{
    width: 820px!important;
    height: 1180px!important;
  }
}
@media (max-width:768px){
  #iframe{
    width: 768px!important;
    height: 1024px!important;
  }
}
@media (max-width:540px){
  #iframe{
    width: 540px!important;
    height: 800px!important;
  }
}
@media (max-width:414px){
  #iframe{
    width: 414px!important;
    height: 896px!important;
  }
}
@media (max-width:393px){
  #iframe{
    width: 393px!important;
    height: 851px!important;
  }
}
@media (max-width:390px){
  #iframe{
    width: 390px!important;
    height: 844px!important;
  }
}
@media (max-width:375px){
#iframe{
  width: 375px!important;
  height: 667px!important;
}
}
@media (max-width:360px){
  #iframe{
    width: 360px!important;
    height: 740px!important;
  }
}
@media (max-width:280px){
  #iframe{
    width: 280px!important;
    height: 653px!important;
  }
}

